<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/Data_Vis_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Data Visualization Spring 2022</center></h1>

---

###Assignment: 1
Name: Sovika Poudel <br>
Year: Junior <br>
Course: CPSMA-4313 Data Processing Visualization 
### For this part of Assignment I am going to work on BigQuery which is an analytical data warehouse useful foe data analysis, visualization and machine learning. It is a part of Google Cloud Platform and uses SQL database.

###Authentication

To use the BigQuery API, you must first authenticate to verify your identity and the authenication is really simple by the following code it gives you the link which provides a authentiction code.

In [8]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [14]:
%%bigquery --project data-vis-assignment-338801
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`

   total_rows
0         101