<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/Data_Vis_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>Data Visualization Spring 2022</center></h1>

---

###Assignment: 3
Name: Sovika Poudel <br>
Year: Junior <br>
Course: CPSMA-4313 Data Processing Visualization 
### For this part of Assignment I am going to work on BigQuery which is an analytical data warehouse useful for data analysis, visualization and machine learning. It is a part of Google Cloud Platform and uses SQL database.

###Authentication

To use the BigQuery API, you must first authenticate to verify your identity and the authenication is really simple by the following code it gives you the link which provides a authentiction code.

In [33]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

As a part of asignment, I am going to play with 'austin_bikeshare_trips' dataset. The following code will generate the number of rows that dataset contain.

In [40]:
%%bigquery --project data-vis-assignment-338801
SELECT 
  COUNT(*) as Num_Of_Rows
  From `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   Num_Of_Rows
0      1424786

I can also verify my output, 'Num_Of_Rows' by looking the dataset in BigQuery by following this instruction:In the Bigqueryt dataset select the dataset you are working on dataset>PREVIEW>Last Page and scroll down to the end of the table.

It's pretty easy to find the total entries in the dataset. Here's another example just for the reference. You just change the dataset name in the query. It basically mean SELECT some column FROM the given dataset table. 

Notice, I have changed the Num_Of_Rows and total_rows in my code, which are just a title (Column Names/table?) that I want to name for my output.

In [14]:
%%bigquery --project data-vis-assignment-338801
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`

   total_rows
0         101

Now, Let's find out the longest trip from 'duration_minutes'.
###NOTE: You need to mention the project on the top in each segment/cell.

For the longest trip I am using the MAX function which will give the maximun value from the selected table

In [41]:
%%bigquery --project data-vis-assignment-338801
SELECT 
  MAX(table.duration_minutes) as longest_trip
From `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table

   longest_trip
0         34238

####Average

Let's find the average time for the trip.

In [42]:
%%bigquery --project data-vis-assignment-338801
SELECT 
  AVG(table.duration_minutes) as longest_trip
From `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table

   longest_trip
0     30.870428

It's very simple, I just replaced MAX with AVG function

Today is the first time I heard of BigQuery, I am not even familier with SQL and still I find it easy and fun. I would love to explore more.